


<ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block mt-2">

    @if (Request.IsAuthenticated)
    {
        //Kullanıcı giriş yaptıysa
        <li style="list-style-type: none;float: right">
            <a class="nav-link" href="/">@User.Identity.Name </a>
        </li>
        <li style="list-style-type: none;float: right">
            <a class="nav-link" href="/Account/Logout/">Çıkış</a>
        </li>
        <li style="list-style-type: none;float: right">
            <a class="nav-link" href="/Product/Index/">Yönetici Paneli</a>
        </li>

    }
    else
    {
    
        //Kullanıcı giriş yapmadıysa
        
        <li style="list-style-type: none;float: right">
            <a class="nav-link" href="/Account/Login/">Giriş </a>
        </li>
        <li  style="list-style-type: none;float: right">
            <a class="nav-link" href="/Account/Register/">Register</a>
        </li>

    }

</ul>


